In [2]:
import numpy as np
import pandas as pd
import random as rd

In [3]:
r = rd.Random(10)

In [4]:
students_str = """Klas
Mads
Camille
Timmi
Rachele
Karolina
Majda
Lili
Eva
Nathan
Albertas
Nicholai
Alexander
Pablo
Vasilii
Jovana"""
students = students_str.split('\n')

In [5]:
print(len(students))
df = pd.DataFrame(data=np.zeros((len(students),len(students))),index=students,columns=students)
for stu1 in students:
    while ( df[stu1].sum() != 2 ):
        stu2 = r.choice(students)
        if ( df.xs(stu2).sum() < 2 and df[stu1].sum() < 2 ):
            if ( df.xs(stu2)[stu1] == 0 and df.xs(stu1)[stu2] == 0 ):
                df.xs(stu2)[stu1] = 1

16

In [6]:
data = {}
for col in df.columns:
    data[col.split('@')[0]] = { 'project to review # 1': df[col].sort_values(ascending=False).index[0].split('@')[0], 
                 'project to review # 2': df[col].sort_values(ascending=False).index[1].split('@')[0] }
dataframe = pd.DataFrame(data)
dataframe.T

          project to review # 1 project to review # 2
Klas                      Pablo                  Mads
Mads                     Jovana                 Majda
Camille                  Jovana               Vasilii
Timmi                       Eva              Karolina
Rachele                Albertas                  Mads
Karolina                   Lili               Camille
Majda                     Pablo              Nicholai
Lili                   Nicholai               Rachele
Eva                   Alexander                Nathan
Nathan                  Vasilii              Karolina
Albertas                 Nathan                  Lili
Nicholai              Alexander                  Klas
Alexander                 Majda               Rachele
Pablo                  Albertas               Camille
Vasilii                     Eva                 Timmi
Jovana                    Timmi                  Klas

In [ ]:
print(dataframe.T.to_html())

In [ ]:
df.sum(axis=1)

In [ ]:
df.sum(axis=0)