In [6]:
import numpy as np
import pandas as pd
import random as rd

In [7]:
r = rd.Random(81)

In [8]:
students_str = """klas.lucander@nateko.lu.se
mads.jeppesen@biochemistry.lu.se
camille.garcia@biochemistry.lu.se
timmi@astro.lu.se
rachele@maths.lth.se
karolina.pantazatou@nateko.lu.se
majda.misini_ignjatovic@teokem.lu.se
lili.cao@teokem.lu.se
eva.hansen@hep.lu.se
nathan.simpson@hep.lu.se
albertas.dvirnas@thep.lu.se
nicholai.mauritzson@nuclear.lu.se
Alexander.Backis@esss.se
Pablo.Costas.Franco@esss.se
vasilii.goriachkin@matstat.lu.se
jovana.colvin@sljus.lu.se"""
students = students_str.split('\n')

In [9]:
print(len(students))
df = pd.DataFrame(data=np.zeros((len(students),len(students))),index=students,columns=students)
for stu1 in students:
    while ( df[stu1].sum() != 2 ):
        stu2 = r.choice(students)
        if ( stu1.split('@')[1] != stu2.split('@')[1] ):
            if ( df.xs(stu2).sum() < 2 and df[stu1].sum() < 2 ):
                if ( df.xs(stu2)[stu1] == 0 and df.xs(stu1)[stu2] == 0 ):
                    df.xs(stu2)[stu1] = 1

16

In [10]:
data = {}
for col in df.columns:
    data[col.split('@')[0]] = { 'project to review # 1': df[col].sort_values(ascending=False).index[0].split('@')[0], 
                 'project to review # 2': df[col].sort_values(ascending=False).index[1].split('@')[0] }
dataframe = pd.DataFrame(data)
dataframe.T

                           project to review # 1 project to review # 2
klas.lucander                 vasilii.goriachkin      albertas.dvirnas
mads.jeppesen                      jovana.colvin      Alexander.Backis
camille.garcia               karolina.pantazatou         klas.lucander
timmi                         vasilii.goriachkin               rachele
rachele                         albertas.dvirnas         klas.lucander
karolina.pantazatou          nicholai.mauritzson        nathan.simpson
majda.misini_ignjatovic           nathan.simpson               rachele
lili.cao                     karolina.pantazatou        camille.garcia
eva.hansen                      Alexander.Backis              lili.cao
nathan.simpson               Pablo.Costas.Franco              lili.cao
albertas.dvirnas             nicholai.mauritzson            eva.hansen
nicholai.mauritzson                        timmi         mads.jeppesen
Alexander.Backis         majda.misini_ignjatovic                 timmi
Pablo.Costas.Franco      majda.misini_ignjatovic         mads.jeppesen
vasilii.goriachkin                 jovana.colvin            eva.hansen
jovana.colvin                Pablo.Costas.Franco        camille.garcia

In [11]:
print(dataframe.T.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>project to review # 1</th>
      <th>project to review # 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>klas.lucander</th>
      <td>vasilii.goriachkin</td>
      <td>albertas.dvirnas</td>
    </tr>
    <tr>
      <th>mads.jeppesen</th>
      <td>jovana.colvin</td>
      <td>Alexander.Backis</td>
    </tr>
    <tr>
      <th>camille.garcia</th>
      <td>karolina.pantazatou</td>
      <td>klas.lucander</td>
    </tr>
    <tr>
      <th>timmi</th>
      <td>vasilii.goriachkin</td>
      <td>rachele</td>
    </tr>
    <tr>
      <th>rachele</th>
      <td>albertas.dvirnas</td>
      <td>klas.lucander</td>
    </tr>
    <tr>
      <th>karolina.pantazatou</th>
      <td>nicholai.mauritzson</td>
      <td>nathan.simpson</td>
    </tr>
    <tr>
      <th>majda.misini_ignjatovic</th>
      <td>nathan.simpson</td>
      <td>rachele</td>
    </tr>
    <tr>
      <th>lili.cao</th>
      <td>karolina.pantazatou</td>
      <td>camille.garcia</td>
    </tr>
    <tr>
      <th>eva.hansen</th>
      <td>Alexander.Backis</td>
      <td>lili.cao</td>
    </tr>
    <tr>
      <th>nathan.simpson</th>
      <td>Pablo.Costas.Franco</td>
      <td>lili.cao</td>
    </tr>
    <tr>
      <th>albertas.dvirnas</th>
      <td>nicholai.mauritzson</td>
      <td>eva.hansen</td>
    </tr>
    <tr>
      <th>nicholai.mauritzson</th>
      <td>timmi</td>
      <td>mads.jeppesen</td>
    </tr>
    <tr>
      <th>Alexander.Backis</th>
      <td>majda.misini_ignjatovic</td>
      <td>timmi</td>
    </tr>
    <tr>
      <th>Pablo.Costas.Franco</th>
      <td>majda.misini_ignjatovic</td>
      <td>mads.jeppesen</td>
    </tr>
    <tr>
      <th>vasilii.goriachkin</th>
      <td>jovana.colvin</td>
      <td>eva.hansen</td>
    </tr>
    <tr>
      <th>jovana.colvin</th>
      <td>Pablo.Costas.Franco</td>
      <td>camille.garcia</td>
    </tr>
  </tbody>
</table>

In [12]:
df.sum(axis=1)

klas.lucander@nateko.lu.se              2.0
mads.jeppesen@biochemistry.lu.se        2.0
camille.garcia@biochemistry.lu.se       2.0
timmi@astro.lu.se                       2.0
rachele@maths.lth.se                    2.0
karolina.pantazatou@nateko.lu.se        2.0
majda.misini_ignjatovic@teokem.lu.se    2.0
lili.cao@teokem.lu.se                   2.0
eva.hansen@hep.lu.se                    2.0
nathan.simpson@hep.lu.se                2.0
albertas.dvirnas@thep.lu.se             2.0
nicholai.mauritzson@nuclear.lu.se       2.0
Alexander.Backis@esss.se                2.0
Pablo.Costas.Franco@esss.se             2.0
vasilii.goriachkin@matstat.lu.se        2.0
jovana.colvin@sljus.lu.se               2.0
dtype: float64

In [13]:
df.sum(axis=0)

klas.lucander@nateko.lu.se              2.0
mads.jeppesen@biochemistry.lu.se        2.0
camille.garcia@biochemistry.lu.se       2.0
timmi@astro.lu.se                       2.0
rachele@maths.lth.se                    2.0
karolina.pantazatou@nateko.lu.se        2.0
majda.misini_ignjatovic@teokem.lu.se    2.0
lili.cao@teokem.lu.se                   2.0
eva.hansen@hep.lu.se                    2.0
nathan.simpson@hep.lu.se                2.0
albertas.dvirnas@thep.lu.se             2.0
nicholai.mauritzson@nuclear.lu.se       2.0
Alexander.Backis@esss.se                2.0
Pablo.Costas.Franco@esss.se             2.0
vasilii.goriachkin@matstat.lu.se        2.0
jovana.colvin@sljus.lu.se               2.0
dtype: float64

In [26]:
print(dataframe.T.to_csv)

<bound method DataFrame.to_csv of                     project to review # 1 project to review # 2
adrian.gustafson            vidar.aspelin        samuel.wiqvist
anton.roth                 marco.polimeni     zakiyeh.yousefian
bjorn.linse              adrian.gustafson     zakiyeh.yousefian
carl.akerlindh             daniel.nilsson         ellen.rieloff
daniel.nilsson           adrian.gustafson        samuel.wiqvist
ellen.rieloff              daniel.nilsson               mikkola
harsh.shah                    junhao.dong         vidar.aspelin
hongduo.lu                      sahlholdt                najmeh
iryna                 stefan.hervo_hansen           junhao.dong
junhao.dong                carl.akerlindh               mikkola
marco.polimeni                      iryna             sahlholdt
mikkola                    carl.akerlindh            hongduo.lu
najmeh                         anton.roth         ellen.rieloff
sahlholdt                      anton.roth                najmeh
samuel.wiqvist        stefan.hervo_hansen            hongduo.lu
smita.chakraborty                   iryna        marco.polimeni
stefan.hervo_hansen           bjorn.linse            harsh.shah
vidar.aspelin           smita.chakraborty           bjorn.linse
zakiyeh.yousefian       smita.chakraborty            harsh.shah>